{% extends "base_layout.html" %}

{% block head_scripts %}
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}

{% block page_detail %}
    {% include "show_flashed_messages.html" %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Test Images</h1>
            <p class="lead text-muted">See flower classification predictions for a random sample of images from our test image dataset.</p>
        </div>
    </section>

    <section>
        <div class="container">
            <form action="{{ url_for('classify_test_images') }}" method="get" >
                <div class="form-row">
                    <div class="col-4"></div>
                    <div class="col-2 form-group text-center">
                        <label for="num-images">#Flowers</label>
                        <input id="num-images" class="form-control" name="images" value="{{ num_images }}">
                    </div>
                    <div class="col-2 form-group text-center">
                        <label for="num-predictions">#Predictions</label>
                        <input id="num-predictions" class="form-control" name="predictions" value="{{ num_predictions }}">
                    </div>
                    <div class="col-4"></div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary">Refresh</button>
                    </div>
                </div>
            </form>
            <section class="flower-list-section">
                {% for file, classification in results %}
                    <div class="row flower-item-section">
                        <div class="col flower-image-section">
                            <img class="flower-image w400" src="{{ url_for('static', filename=file) }}" alt="Flower Test Image" title="Flower Test Image">
                        </div>
                        <div class="col flower-results-section">
                            <div id="chart{{ loop.index }}" class="chart"></div>
                            <script>
                                let classNames{{ loop.index }} = {{ classification['class_names']|safe }};
                                let probabilities{{ loop.index }} = {{ classification['probabilities']|safe }};
								let chart{{ loop.index }} = getChart('chart{{ loop.index }}', classNames{{ loop.index }}, probabilities{{ loop.index }});
                            </script>
                        </div>
                    </div>
                {% else %}
                    <p>There are no images to test.</p>
                {% endfor %}
            </section>
        </div>
    </section>
{% endblock %}
