{% extends "base_layout.html" %}

{% block head_scripts %}
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}

{% block page_detail %}
    {% include "show_flashed_messages.html" %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Upload Image</h1>
            <p class="lead text-muted">Upload your own image and see what our classifier thinks.</p>
        </div>
    </section>

    <section>
        <div class="container">
            <section class="upload-image-section">
                <form enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-2">
                            <input style="width: 100px; margin: auto;" type="file" name="flower-image" class="form-control-file" id="image-upload"
                                   accept="image/jpeg">
                        </div>
                        <div class="col-5"></div>
                    </div>

                    <div>
                        <small class="form-text text-muted">Image must be a jpg and cannot exceed 3 MBs.</small>
                    </div>

                    <div class="row flower-item-section">
                        <div class="col-12 col-md-6 flower-image-section">
                            <img id="image-show" class="flower-image" src="#" style="display: none"/>
                        </div>
                        <div class="col-12 col-md-6 flower-results-section">
                            <div id="error-classify" class="flash-section alert alert-danger" role="alert" style="display: none;">
                                Error classifying image.
                            </div>
                            <div id="loading" class="loading" style="display: none"><img src="{{ url_for('static', filename='img/loading.gif') }}"></div>
                            <div id="chart" class="chart"></div>
                        </div>
                    </div>

                </form>
            </section>
            {% if result %}
                <section class="upload-image-result-section">
                    <header>
                        <h4>Result</h4>
                    </header>
                </section>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block page_end_scripts %}
    <script>
		$(document).ready(function () {
			$("#image-upload").change(function () {
				$("#image-show").hide();
				$("#error-classify").hide();
				$("#chart").hide();

				let file = this.files[0];
				if (file == null || file.size > 1024 * 1024 * 3) { // 1024KB * 3, ~1MB
					alert('Max file size allowed is 3MB.');
					return;
				}

				showImage(this);

				$.ajax({
					type: 'POST',
					url: '/classify_upload_image',
					data: new FormData($('form')[0]),
					cache: false,
					contentType: false,
					processData: false,
					beforeSend: function () {
						$('#loading').show();
					},
					success: function (result) {
						$('#loading').hide();
						if (result) {
							console.log('Successfully classified image.');
							classificationSuccess(result);
						} else {
							classificationFailure();
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						$('#loading').hide();
						classificationFailure();
					}
				});
			});
		});

		function showImage(input) {
			if (input.files && input.files[0]) {
				let reader = new FileReader();

				reader.onload = function (e) {
					document.getElementById('image-show').src = e.target.result;
				};
				reader.readAsDataURL(input.files[0]);

				$("#image-show").show();
			}
		}

		function classificationSuccess(result) {
			let classNames = result['class_names'];
			let probabilities = result['probabilities'];
			let chart = getChart('chart', classNames, probabilities);
			$("#chart").show();
		}

		function classificationFailure() {
			$("#error-classify").show();
		}
    </script>
{% endblock %}
