/*
 * Styles for Flower Classifier App
 */

:root {
	--jumbotron-padding-y: 2rem;
}

.chart {
	margin: .5rem;
	max-width: 600px;
	min-width: 300px;
	text-align: center;
	width: 100%;
}

.flower-image {
	background-position: center center;
	background-size: cover;
	border-radius: 4px;
	display: inline-block;
}

.flower-image-section {
	text-align: center;
}

.flower-item-section {
	margin: 1rem 0 1rem;
}

.flower-results-section {
	text-align: center;
}

.footer {
	background-color: #343A40;
	color: white;
	padding-bottom: 2rem;
	padding-top: 2rem;
}

.footer p {
	margin-bottom: 0.25rem;
}

.footer-icon-link {
	margin: 0 0.5rem 0;
}

#index-summary {
	margin-bottom: 1rem;
}

.jumbotron {
	background-color: #FFF;
	margin-bottom: 0;
	padding-bottom: var(--jumbotron-padding-y);
	padding-top: var(--jumbotron-padding-y);
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron .container {
	max-width: 40rem;
}

.jumbotron-heading {
	font-weight: 300;
}

.w400 {
	width: 400px;
}

.w300 {
	width: 300px;
}

#messages {
	margin-top: 2rem;
}

/*               */
/*               */
/* MEDIA QUERIES */
/*               */
/*               */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#index-summary {
		margin-bottom: 0;
	}

	.jumbotron {
		padding-bottom: calc(var(--jumbotron-padding-y) * 2);
		padding-top: calc(var(--jumbotron-padding-y) * 2);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
